body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

.container {
  width: 918px;
  margin: 0 auto;
}

.box {
  background-color: #444;
  position: relative;
  height: 150px;
  width: 150px;
  float: left;
}
